body{
    position:absolute;
}

table
{
    display: inline-block;
    height:auto;
    margin:0px;
    width:580px;
}

#banner
{
    height:80;
}
#face{
    position:absolute;
    top:4px ;
    right:4px;
}

#fileBox{
    position:fixed;
    bottom:0px;
    right:0px;
    background-color: white;
    border: 2px solid;
    padding: 2px;
    box-shadow: 0px 0px 4px;
}

#archiveTables{
    margin-top:80px;
    margin-bottom:40px;
}

#popBox{
    position:fixed;
}

.archTable{
    margin-left: 10px;
}