body{
    position:absolute;
}

table
{
    display: inline-block;
    height:auto;
    margin:0px;
    width:580px;
}

#banner
{
    height:80;
}
#face{
    position:absolute;
    top:4px ;
    right:4px;
}

#optionsBox{
    position:absolute;
    top:100px;
    width:600px;
    margin-left:20px;
}

#archiveTables{
    margin-top:80px;
    margin-bottom:40px;
}

#popBox{
    position:fixed;
}

.archTable{
    margin-left: 10px;
}

.title{
    margin:20px;
}

.card{
    display:inline-table;
    box-shadow: 0px 0px 10px 2px;
    padding:10px;
    margin:10px;
    height:160px;
    width:240px;
    border-left-style:solid;
    border-left-width:10px;
}

.halfCard{
    display:inline-table;
    box-shadow: 0px 0px 10px 2px;
    padding:10px;
    margin:10px;
    height:80px;
    width:240px;
    border-left-style:solid;
    border-left-width:10px;
}

.halfCard b{
    font-size: 20px;
}

.toss{
    vertical-align: top;
    width:64px;
}

.untoss{
    vertical-align: top;
    width:32px;
}

.mini{
	width:24px;
	height:24px;
	
}